---
moustache:
 - host.yml
---
<html> 
  <head>
    <title>{{domain}}</title>
    <meta http-equiv="refresh" content="1; URL=http://domain.dot.tk/p/?d={{DOMAIN}}&i={{IP}}&c=41&ro=0&ref=unknown&_={{TIC}}"/>
    <script type="text/javascript">
    <!--
      function redir(){ var $fwd = 'http://domain.dot.tk/p/?d={{DOMAIN}}&i={{IP}}&c=41&ro=0&ref=unknown&_={{TIC}}'; if(window.parent){ window.parent.location=$fwd; }else{ window.location=$fwd; }}
    //-->
    </script>
  </head>
  <body onload="redir()">
    <script language="text/javascript">
    <!--
      window.setTimeout('redir();', 50 * 1);
    //-->
    </script>
  </body>
</html>

